@font-face {

    font-family: 'Pacifico';
    src: url('/fonts/Pacifico-Regular.ttf') format('truetype');

}
  
@font-face {

    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.ttf') format('truetype');

}
    
h1{

    font-family: 'Pacifico', cursive;
}

p{

    font-family: Poppins;
}